body {
  font-family: 'Roboto Slab', serif;
  /*font-family: 'Dosis', sans-serif;*/
}

h1 {
  margin-bottom: .1em;
}

h4 {
margin-top: 0px;
}

.buttonland {
  margin-top: 2em;
}

.buttontopia {
  margin-top: 2em;
}

.maths {
  margin-top: 2em;
}

.typing {
  font-size: 2em;
  background-color: gray;
  border: 2px;
  color: white;
  /*margin-left: 1em;*/
}

#area {
  color: gray;
}

button {
  font-size: 2em;
  font-family: 'Dosis', sans-serif;

}
